<div style="padding: 0 20px">
	<h2>Check-in</h2>
	<p>Check in so that your family and friends know that you are safe. If you require assistance, checking in will help emrgency teams find you.</p>

	<input class="form-control mt20" placeholder="First name">
	<input class="form-control mt20" placeholder="Last name">

	<select class="form-control mt20">
		<option value="G">Safe</option>
		<option value="I">Might Need Help</option>
		<option value="B">Need Help</option>
	</select>

	<button class="btn btn-primary"></button>
</div>